@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 heading, btn hover+BG Color: #14A800
 btn: #108A00
 card color: #13544e, #bc511b, #91e6b3, #1f57c3,
 footer: #001e00
 icon bottom color: rgba(159, 47, 255, 1)
*/

body {
    color: #eeeeee;
    background-color: #000b1a;
    /* background-color: rgba(159, 47, 255, 1); */
/* background-color: #9f2fff; */
/* 9043E2 */
}

.navBtn {
    @apply bg-myRed rounded-sm font-semibold text-base hover:text-3xl hover:text-myRed
}

.active {
    background-color: #14A800;
    color: #ffff;
    font-weight: 600;
    padding: 10px 15px;
}
.readBtn{
    background-color: #43008A;
    padding: 10px 15px; 
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
}
.readBtn:hover{
    background-color: #9043E2;
}
.navLinks:hover {
    background-color: #14A800;
    color: #ffff;
    font-weight: 600;
    padding: 10px 15px;
}

.navLinks {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.3s;
}

.myBtn {
    padding: 10px 15px;
    /* background-color: #212428; */
    font-weight: 700;
    text-transform: uppercase;
    color: #14A800;
    cursor: pointer;
}

.iconBtn {
    background-color: #43008A;
    padding: 5px;
    /* color: #CA0945; */
    cursor: pointer;
}

.myBtnShadow {
    box-shadow: -5px -5px 10px #c2c2c225,
        10px 10px 30px #00000083,
        inset -10px -10px 20px -5px #00ff1500,
        inset 10px 10px 10px -5px #004cff00;
    transition: transform 0.2s ease-in-out;
}

.myBtn:hover,
.iconBtn:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    color: #1ae200;
}

/* 
Services Card
*/

/*
Section Title
*/

.animated-border {
    height: 3px;
    background-color: #108A00;
    animation: slide 2s infinite;
    width: 30%;
}

/* portfolio */

:root {
    --color: #9043E2;
    /* Set your desired color value */
    --hover: #43008A;
    /* Set your desired hover color value */
}

.pLinkBtn {
    padding: 5px 10px;
    /* color: #ffff; */
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        /* color: #1fff02; */
    }
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
    font-weight: 600;
}

.offset:hover,
.offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

/* Banner */

/* .reactFloating{
    margin-top: -450px;
    margin-left: -270px;
}
.nodeFloating{
    margin-top: 120px;
    margin-left: 250px;
}
.mongoDBFloating{
    margin-top: 80px;
    margin-left: -380px;
} */

.floatingImage{
    transform: translateY(-10%);
    animation: floater 2s infinite;
    transition: ease 0.5s;
  }
  
  @keyframes floater {
    0% {
      transform: translateY(-10%);
      transition: ease 0.5s;
    }
    50% {
      transform: translateY(10%);
      transition: ease 0.5s;
    }
  }
  