@tailwind base;
@tailwind components;
@tailwind utilities;

.navBtn {
    @apply bg-myRed rounded-sm font-semibold text-base
}

.active {
    background-color: #CA0945;
    color: #ffff;
    font-weight: 600;
    padding: 10px 15px;
}

.navLinks:hover {
    background-color: #CA0945;
    color: #ffff;
    font-weight: 600;
    padding: 10px 15px;
}

.navLinks {
    padding: 10px 15px;
    font-weight: 600;
}

.myBtn {
    padding: 10px 15px;
    background-color: #212428;
    font-weight: 600;
    text-transform: uppercase;
    color: #CA0945;
    cursor: pointer;
}

.iconBtn {
    background-color: #212428;
    padding: 5px;
    color: #CA0945;
    cursor: pointer;
}

.myBtnShadow {
    box-shadow: -5px -5px 10px #ffffff25,
        10px 10px 30px #00000085,
        inset -10px -10px 20px -5px #00ff1500,
        inset 10px 10px 10px -5px #004cff00;
    transition: transform 0.2s ease-in-out;
}

.myBtn:hover,
.iconBtn:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

/* .circle {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 50px;
}

.circle2 {
    box-shadow: -10px -10px 30px #ffbb00,
        10px 10px 30px #c300ff40,
        inset -10px -10px 20px -5px #00ff15,
        inset 10px 10px 10px -5px #004cff
} */

/* 
Services Card
*/
.card {
    position: relative;
    /* width: 350px; */
    height: 300px;
    margin: 0 auto;
    background: #212428;
    box-shadow: 0 15px 60px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
}

.card .face.face1 h2 {
    margin: 0;
    padding: 0;
}

.card .face.face1 .content {
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 1em 0;
    font-weight: 500;
}

.card .face.face1 .content h2 {
    font-size: 1.5rem;
    color: #CA0945;
}

.card .face.face2 {
    background: #111;
    transition: 0.5s;
}

.card:nth-child(1) .face.face2 {
    background: linear-gradient(45deg, #212428, #CA0945);
    border-radius: 15px;
    padding: 15px;
}

.card:hover .face.face2 {
    height: 90px;
    padding: 8px;
    border-radius: 0 0 15px 15px;
}

.card .face.face2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* width: 50%; */
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px 0 0 15px;
}

.card .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #e2e2e2;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.card:hover .face.face2 h2 {
    font-size: 2em;
}

/* 
Section Title
*/

.animated-border {
    height: 3px;
    background-color: #CA0945;
    animation: slide 2s infinite;
}

@keyframes slide {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 0;
    }
}

.glowing-circle {
    /* Adjust the positioning as per your requirements */
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ca0945;
    box-shadow: 0 0 5px #ca0945, 0 0 10px #f701ff, 0 0 20px #ca0945;
    animation: glowing 2s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #ca0945, 0 0 10px #f701ff, 0 0 20px #ca0945;
    }

    50% {
        box-shadow: 0 0 20px #ca0945, 0 0 30px #f701ff, 0 0 40px #ca0945, 0 0 50px #ca0945;
    }

    100% {
        box-shadow: 0 0 5px #ca0945, 0 0 10px #f701ff, 0 0 20px #ca0945;
    }
}

/* portfolio */


.custom-btn {
    margin: 8px 0;
    width: 130px;
    height: 40px;
    color: #e9e9e9;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}

.btn-3 {
    background: linear-gradient(0deg, #db1554 0%, #aa0036 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #CA0945;
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: #CA0945;
    font-weight: 600;
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #CA0945;
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

:root {
    --color: #CA0945;
    /* Set your desired color value */
    --hover: #CA0945;
    /* Set your desired hover color value */
}

.pLinkBtn {
    padding: 3px 8px;
    font-weight: 600;
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #e9e9e9;
    }
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
    font-weight: 800;
}

.offset:hover,
.offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}